.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom:10px;
}
.logo > img {
  width: 100px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  font-size: 24px;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container{
  margin-top:10px;
}
.res-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 450px;
  background-color: hsl(0, 0%, 94%);

  /* margin:0px; */
  /* padding:0 5px; */
}
.res-card:hover {
  cursor: pointer;
  border: 2px solid black;
}
.res-logo {
  width: 190px;
  height: 170px;

  display: block;
  margin: 0 0;
  /* padding:0px; */
  /* padding:4px auto; */
  /* padding-top:4px; */
}
.res-log > img {
  object-fit: contain;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.res-name>h4{
  text-align: center;
}
.rat-time {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin:0; */
}
.rat-time > p {
  padding: 0;
  margin: 0;
}
.rat-time > p:first-of-type {
  font-weight: 400;
}
.rat-time > p:nth-of-type(3) {
  font-weight: 600;
}
.rat-time > p:nth-of-type(3):before {
  content: "  • "; /* Unicode bullet */
  color: black; /* Optional */
  font-weight: bold;
}

.quizine > p {
  text-align: center;
}
.grp-cost>p{
    margin:0;
    padding:0;
   
}

.search {
  padding: 10px;
}



/* body */
.res-container{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap:5px;

}
/* .body{
    display:flex;
    justify-content: center;
} */


.top-res{
  display:inline;
    margin:10px;
    border:2px solid black;
    border-radius: 15px;
    background-color: rgb(146, 121, 121);
}

.top-res:hover{
  cursor: pointer;
  background-color: beige;
}